body{
	background-color: #FFFFFF;
}

h1{
	color: yellow;
}

td{
	background-color: #000000;
	color: white;
}

table{
	 border: 5px solid black;
    border-collapse: collapse;
	width:1330px;
}

#table1{
	border: none;	
}

div.box2 a:link{
	color:maroon;
}


div.tabs a:link{
	color:white;
	text-decoration:none;
}

div.tabs a:active{
	color:yellow;
}

div.tabs a:visited{
	color:white;
}

.homepage{
	border-bottom-style: solid;
	border-bottom-color: yellow;
}

div.box1 {
	
		height: 525px;
		width: 700px;
		border: none;
		margin-left: 26px;
		
	}

.box1 a:link{
	 color:maroon;
}	
div.box2 {
	
	height: 525px;
	width: 504px;
	border: none;
	margin-left: 77px;
	margin-right:26px;
}
table#table1 th	{
	text-align: center;
    background-color: black;
    color: white;
}

.footbold{
	font-weight: bold;
	color:#4b4848;
}

#footer2{
	
	background-color:black;
	color:grey;

}

.last{
	color:grey;
	background-color:black;
}

#footer1{
	color:grey;
	height:140px;
}

.column-one {
  margin-left: 26px;
  width: 212px;
  border: 1px solid gray;
  float: left;
  border:none;
  
}

.column-two {
  width: 212px;
  border: 1px solid gray;
  float: left;
  border:none;
}
.column-three {
  width: 212px;
  border: 1px solid gray;
  float: left;
  border:none;
}
.column-four {
  width: 212px;
  border: 1px solid gray;
  float: left;
  border:none;
}

.column-five {
  width: 212px;
  border: 1px solid gray;
  float: left;
  border:none;
}
.column-six {
  width: 212px;
  border: 1px solid gray;
  float: right;
  border:none;
}


